Passing_data.Models.Employee

@{
    ViewBag.Title = "View_Model";
}

<h2 style="background-color:cadetblue">Passing data using View_Model</h2>

<h3>ID : @Model.Id</h3>
<h3>Name : @Model.Name</h3>
<h3>Job : @Model.Job</h3>


